@mixin stories() {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0 0;

    .stories-image {
        padding-top: 67%;    
        overflow: hidden; 
        position: relative;   
        img {
            position: absolute;
            top: 0;
            // height: 100%;
            width: 100%;
        }
    }

    .stories-content {
        background-color: #F3EDE8;
    }

    
}